@import
  '../../bower_components/materialize/sass/materialize',
  'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  font-family: sans-serif, tahoma, arial, helvetica;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}
